<div id="footer">
  <div class="container">

    <div class="footer-icons">

    <a href="https://www.linkedin.com/in/saikat-kundu-63973014a/" target="_blank" class="icon_link"><i class="fab fa-linkedin  bottom-icon"></i> </a>
    <a href="https://www.facebook.com/saikat.kundu.16" target="_blank" class="icon_link"> <i class="fab fa-facebook-f  bottom-icon"></i></a>
      <a href="https://www.instagram.com/yet_another_storyteller/" target="_blank" class="icon_link"><i class="fab fa-instagram  bottom-icon"></i></a>
        <a href="mailto:saikatrajkundu@gmail.com" target="_blank" class="icon_link"><i class="fas fa-envelope  bottom-icon"></i></a>
    </div>


    <p>Made with 💙 by Saikat Kundu</p>
    <p>© Copyright 2020 </p>
  </div>



</div>


</body>

</html>