
<div id="footer">
    <div class="container" >
    
      <div class="footer-icons">
        <i class="fab fa-twitter  bottom-icon"></i>
        <i class="fab fa-facebook-f  bottom-icon"></i>
        <i class="fab fa-instagram  bottom-icon"></i>
        <i class="fas fa-envelope  bottom-icon"></i>
      </div>
       
      
          <p>Made with 💙 by Saikat Kundu</p>
          <p >© Copyright 2020 </p>
    </div>
      
    
    
  </div>

    
    </body>
    </html>
    