<%- include("partials/header"); -%>

<div class="category_body">
<div class=" container">
    <div class="row each_blog">
        <div class="col-12 col-md-6 fill-image">
          <img src="images/about.jpeg" alt="my photo"  class="blog_image" style="max-height: none;">
        </div>

        <div class="col-12 col-md-6 blog_element " >
           
           <div class="container">
               <p class="blog_heading about_heading">Hello everyone :)</p>

                    <p class="blog_intro about_intro" >I hope you all are enjoying reading the blog. I am a CS undergrad striving to make a difference,
                     I always believed that writing your heart out is one of the purest forms of expressing oneself hence this blog is a small endeavor towards that belief. Being able to provide everyone with a platform to write about their amazing experiences which will entertain us and educate us gives me immense joy. 
                    <br>
                    <br>
                Here's to writing more blogs and expressing your hearts out :D </p>
           </div>
            <br>
            <div class=" about_btn">
                <a href="/home" class="myReadMoreButton compose-headings " >← Jump Back In</a>
            </div>
            
        </div>



    </div>
</div>
</div>

<%- include("partials/footer") -%> 